HotelGudangApp/Service References/California/HotelService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HotelService.Contract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HotelService.Contract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVendor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vendor" nillable="true" type="tns:Vendor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVendor" nillable="true" type="tns:ArrayOfVendor" />
  <xs:complexType name="Vendor">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="join_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="vendor_address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vendor_company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vendor_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vendor_phone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vendor" nillable="true" type="tns:Vendor" />
  <xs:complexType name="ArrayOfItemCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemCategory" nillable="true" type="tns:ItemCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItemCategory" nillable="true" type="tns:ArrayOfItemCategory" />
  <xs:complexType name="ItemCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="Item" nillable="true" type="tns:Item" />
      <xs:element minOccurs="0" name="category_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="category_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemCategory" nillable="true" type="tns:ItemCategory" />
  <xs:complexType name="Item">
    <xs:sequence>
      <xs:element minOccurs="0" name="ItemCategory" nillable="true" type="tns:ItemCategory" />
      <xs:element minOccurs="0" name="Vendor" nillable="true" type="tns:Vendor" />
      <xs:element minOccurs="0" name="added_by_date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="create_by_date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="edit_by_date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="item_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="item_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="item_prize" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Item" nillable="true" type="tns:Item" />
  <xs:complexType name="ArrayOfItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItem" nillable="true" type="tns:ArrayOfItem" />
</xs:schema>