HotelWebApp/Service References/Hotel/HotelService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://desktop-0si1hn9/california/HotelService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HotelService.Contract" />
  <xs:element name="FindVendors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindVendorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HotelService.Contract" minOccurs="0" name="FindVendorsResult" nillable="true" type="q1:ArrayOfVendor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCategory">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HotelService.Contract" minOccurs="0" name="FindCategoryResult" nillable="true" type="q2:ArrayOfItemCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindItemCategory">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindItemCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HotelService.Contract" minOccurs="0" name="FindItemCategoryResult" nillable="true" type="q3:ArrayOfItemCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HotelService.Contract" minOccurs="0" name="SelectAllItemsResult" nillable="true" type="q4:ArrayOfItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>