HotelWebApp/Service References/Hotel/Hotel.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Hotel" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IHotel_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://desktop-0si1hn9/california/HotelService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://desktop-0si1hn9/california/HotelService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://desktop-0si1hn9/california/HotelService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HotelService.Contract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHotel_FindVendors_InputMessage">
    <wsdl:part name="parameters" element="tns:FindVendors" />
  </wsdl:message>
  <wsdl:message name="IHotel_FindVendors_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindVendorsResponse" />
  </wsdl:message>
  <wsdl:message name="IHotel_FindCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:FindCategory" />
  </wsdl:message>
  <wsdl:message name="IHotel_FindCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IHotel_FindItemCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:FindItemCategory" />
  </wsdl:message>
  <wsdl:message name="IHotel_FindItemCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindItemCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IHotel_SelectAllItems_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllItems" />
  </wsdl:message>
  <wsdl:message name="IHotel_SelectAllItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllItemsResponse" />
  </wsdl:message>
  <wsdl:portType name="IHotel">
    <wsdl:operation name="FindVendors">
      <wsdl:input wsaw:Action="http://tempuri.org/IHotel/FindVendors" message="tns:IHotel_FindVendors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHotel/FindVendorsResponse" message="tns:IHotel_FindVendors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IHotel/FindCategory" message="tns:IHotel_FindCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHotel/FindCategoryResponse" message="tns:IHotel_FindCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindItemCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IHotel/FindItemCategory" message="tns:IHotel_FindItemCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHotel/FindItemCategoryResponse" message="tns:IHotel_FindItemCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IHotel/SelectAllItems" message="tns:IHotel_SelectAllItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHotel/SelectAllItemsResponse" message="tns:IHotel_SelectAllItems_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IHotel" type="tns:IHotel">
    <wsp:PolicyReference URI="#WSHttpBinding_IHotel_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindVendors">
      <soap12:operation soapAction="http://tempuri.org/IHotel/FindVendors" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindCategory">
      <soap12:operation soapAction="http://tempuri.org/IHotel/FindCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindItemCategory">
      <soap12:operation soapAction="http://tempuri.org/IHotel/FindItemCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllItems">
      <soap12:operation soapAction="http://tempuri.org/IHotel/SelectAllItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Hotel">
    <wsdl:port name="WSHttpBinding_IHotel" binding="tns:WSHttpBinding_IHotel">
      <soap12:address location="http://localhost/california/HotelService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost/california/HotelService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>