HotelWebApp/Service References/HotelService/HotelService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://desktop-0si1hn9/california/HotelService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HotelService.Contract" />
  <xs:element name="findByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HotelService.Contract" minOccurs="0" name="findByIDResult" nillable="true" type="q1:ArrayOfVendor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>