HotelWebApp/Service References/HotelService/HotelService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HotelService.Contract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HotelService.Contract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVendor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vendor" nillable="true" type="tns:Vendor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVendor" nillable="true" type="tns:ArrayOfVendor" />
  <xs:complexType name="Vendor">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="join_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="vendor_address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vendor_company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vendor_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vendor_phone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vendor" nillable="true" type="tns:Vendor" />
</xs:schema>